<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <img src="{{ site.baseurl }}/public/WonjungJeong.jpg" alt="Profile" style="width:120px; border-radius:50%; margin-bottom:10px;">
      <h1>
        <a href="{{ site.baseurl }}">
          Jeong Won Jung
        </a>
      </h1>
      <p class="lead">M.S. degree in Department of Semiconductor System Engineering @ Korea University</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="#education">Education</a>
      <a class="sidebar-nav-item" href="#research">Research</a>
      <a class="sidebar-nav-item" href="#publications">Publications</a>
      <a class="sidebar-nav-item" href="#skills">Skills</a>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
